.tab{
    background-color: #fc384c;
    width: 100%;
    height:1rem;
    text-align: center;
    color: #ffffff;
}
.tab-item{
    width: 33.333%;
    float: left;
    padding-top: 0.1rem;
    box-sizing: border-box;
    font-size: 0.28rem;
    height:100%;
}
.tab .active{
    background-color: #ffffff;
    color: #fc384c;
}
.input{
    width:7rem ;
    height:0.8rem;
    margin: 0 auto;
    border-radius: 0.6rem;
    background-color: #ffffff;
    border: solid 0.02rem #3d4d55;
    position: relative;
    text-align: center;

    margin-top: 0.2rem;
}
.input select{
    width: 90%;
    height:98%;
    display: block;
    margin: 0 auto;
    text-align-last: center;
    font-weight: bold;
    color: #3d4d55;
    font-size: 0.24rem;
}
.input i{
    position: absolute;
    z-index: 99;
    top:0.3rem;
    right: 0.3rem;
}
.course-item{
    width:3rem;
    height:3.8rem;
    float: left;
    margin-left: 0.5rem;
    position: relative;

    margin-top: 0.4rem;
}
.course-img{
    width: 100%;
    height:100%;
    border-radius: 0.16rem;
}
.course-img img{
    width: 100%;
    height:100%;
}
.course-item .title{
    position: absolute;
    bottom: 0;
    height:0.8rem;
    width: 100%;
    background-color: #000000;
    background-color:rgba(0,0,0,0.4);
    color: #ffffff;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.8rem;
}
.target{
    width:100%;
    height:6.56rem;
    background-color: #f1f4f6;
    margin-top: 0.6rem;
}
.target-item{
    width:6.9rem;
    margin: 0 auto;
    height:0.6rem;
    border-radius: 0.6rem;
    background-color: #ffffff;
    border: solid 0.02rem #3d4d55;
    margin-top: 0.2rem;
}
.target-item .circle{
    width:0.6rem;
    height:0.6rem;
    border-radius: 50%;
    background-color: #3d4d55;
    font-size: 0.28rem;
    color: #ffffff;
    text-align: center;
    line-height: 0.6rem;
    float: left;
}
.target-item .content{
    height:0.6rem;
    line-height: 0.6rem;
    padding-left: 0.8rem;
    box-sizing: border-box;
    font-size: 0.28rem;
    color:#3d4d55 ;
}
.comment{
    width:100%;
    margin-top: 0.3rem;
}
.item .h2{
    width: 5.12rem;
    font-size: .32rem;
}
.comment-item{
    width: 3rem;
    float: left;
    margin-top: 0.3rem;
    margin-left: 0.35rem;
    margin-right: 0.35rem;
    position: relative;
}
.comment-item img{
    display: block;
    width:100%;
}
.comment-item .click-video{
    position: absolute;
    top: 0;
    width:100%;
    height:2.81rem;
    background-color:#000000 ;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    font-size: 0.8rem;
    padding-top: 0.4rem;
    color: #ffffff;
    box-sizing: border-box;
}
.comment-item .title{
    text-align: center;
    font-size: 0.24rem;
    height:0.54rem;
    line-height: 0.54rem;
}