
@font-face {
    font-family: 'PingFang';
    src: url('/themes/icr_wap/icr/font/PingFang Medium.eot');
    src: local('PingFang Regular'),
    local('PingFang'),
    url('/themes/icr_wap/icr/font/PingFang Medium.woff') format('woff'),
    url('/themes/icr_wap/icr/font/PingFang Medium.ttf') format('truetype'),
    url('/themes/icr_wap/icr/font/PingFang Medium.svg#PingFang') format('svg');
}
@font-face {
    font-family: 'PlutoSans';
    src: url('/themes/icr_wap/icr/font/PlutoSansRegular.eot');
    src: local('PingFang Regular'),
    local('PingFang'),
    url('/themes/icr_wap/icr/font/PlutoSansRegular.woff') format('woff'),
    url('/themes/icr_wap/icr/font/PlutoSansRegular.ttf') format('truetype'),
    url('/themes/icr_wap/icr/font/PlutoSansRegular.svg#PlutoSans') format('svg');
}
html body{
    padding: 0;
    margin: 0;
    font-size: 0.24rem;
    color: #37474f;
    background-color: #ffffff;
    font-family: PlutoSans,PingFang;
}
a{
    text-decoration: none;
    color: inherit;
}
p{
    margin: 0;
    padding:0;
}
ul{
    list-style:none;
    padding:0;
    margin: 0 auto;
}
input, button, select, textarea {
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    border: 0;
    background-color: #ffffff;
}
.text-blue{
    color:#002f6c;
}
.text-red{
    color:#fc384c;
}
#header{
    width:100%;
    height: 0.8rem;
    position: fixed;
    left: 0;
    background-color: #fc384c;
    font-size: 0.24rem;
    color: #ffffff;
    z-index: 9999;
}
.head-left ,.head-right,.head-title{
    position: absolute;
    float: left;
}
.head-left a,.head-right a{
    display: inline-block;
    height: inherit;
}
.head-left a img {
    width: 0.36rem;
    vertical-align: middle;
}
.head-right a img{
    width: 0.6rem;
    vertical-align: middle;
}
.head-title{
    right: 0.8rem;
    top:0.22rem;
    text-align: right;
}
.head-left{
    left:0.3rem;
    top: 0.26rem;
}
.head-right{
    right:0.2rem;
    top:0.1rem;
}
#left_menu{
    position: fixed;
    width: 1.8rem;
    height:3.4rem;
    background-color: #f2f2f2;
    border-radius: 4px;
    top: 0.85rem;
    color: #37474f;
    font-size: 0.24rem;
    display: none;
}
#left_menu ul{
    display: block;
    margin: 0 auto;
    width: 1.2rem;
    margin-top: 0.1rem;
}
#left_menu ul li{
    width: 100%;
    height:0.54rem;
    line-height: 0.54rem;
    border-bottom:1px #cccccc solid;
    text-align: center;
    box-sizing: border-box;
}
#footer{
    height:1rem;
    font-size: 0.28rem;
    position: fixed;
    bottom:0;
    width: 100%;
    background-color: #f2f2f2;
}
.foot-menu ul{
    margin: 0 auto;
    padding: 0;
    height:100%;
}
.foot-menu ul li{
    float: left;
    width: 25%;
    border-right: 1px #cccccc solid;
    box-sizing: border-box;
    height:1rem;
    line-height:1rem;
    text-align: center;
}
#footer .foot-more{
    display: none;
}
.foot-more{
    width:1.8rem;
    height:1.6rem;
    position: fixed;
    bottom:1.2rem;
    right:0.06rem;
    background-color: #f2f2f2;
    border-radius: 4px;
    font-size: 0.24rem;
}
.foot-more ul{
    height:100%;
    width: 1.2rem;
    margin: 0 auto;
    margin-top: 0.1rem;
}
.foot-more ul li{
    border-right: 0!important;
    border-bottom: 1px solid #cccccc;
    box-sizing: border-box;
    text-align:center;
    width: 100%;
    height:0.64rem;
    line-height: 0.64rem;
}
.triangle{
    height:0.18rem;
    width: 0.18rem;
    background-color: #f2f2f2;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: 0 auto;
    margin-top: -0.18rem;
}
.li-last{
    border:0 !important;
}
.foot_blank{
    height:1rem;
    width: 100%;
}
.clear{
    clear: both;
}
.footer{
    color: #ffffff;
    background-color:#222d54 ;
    height:3.24rem;
    text-align: center;
    z-index: 9999;
    margin-top: 0.4rem;
}
.footer .title{
    font-size:0.32rem ;
    padding-top: 0.4rem;
}
.footer .tel_phone{
    font-size:0.28rem ;
    padding-top: 0.2rem
}
.footer .footer-info{
    padding-top: 0.6rem;
    font-size: 0.18rem;
    line-height: 0.26rem;
}
#content{
    width:100%;
    overflow: hidden;
}
.main{
    width: 100%;
}
.item{
    width: 100%;
}
.item-title{
    width:5.62rem ;
    margin: 0 auto;
    font-size: 0.28rem;
    font-weight: bold;
    color: #002F6C;
    text-align: center;
}
.item-title p{
    height: 0.5rem;
    line-height: 0.5rem;
}
.count{
    width: 100%;

}
.count div{
    width: 3.6rem;
    float: left;
}
.count div img{
    width: 100%;
}
.count span{
    width: 3.6rem;
    text-align: center;
    display: block;
    font-size: 0.24rem;
    color: #3d4d55;
}
.item .h1{
    width: 100%;
    font-size: 0.4rem;
    text-align: center;
    font-weight: bold;
    padding-top: 0.8rem;
}
.item .h2{
    margin: 0 auto;
    margin-top: 0.2rem;
    font-size: 0.28rem;
    width: 3rem;
}
.item .h2 .h2_title{
    float: left;
    text-align: center;
    width:2.2rem;
}
.item .h2 .h2_left{
    float: left;
    width: 0.4rem;
    height:0.04rem;
    background-color: #002f6c;
    margin-top: 0.18rem;
    box-sizing: border-box;
}
.item .h2 .h2_right{
    float: right;
    width: 0.4rem;
    height:0.04rem;
    background-color: #002f6c;
    margin-top: 0.18rem;
    box-sizing: border-box;
}
.slide {
    width:100%;
}
.slide ul{
    width: auto;
    height:4rem ;
}
.slide ul li{
    display: block;
    float: left;
    width: 7.5rem;
    max-height:4rem;
    height:4rem ;
}
.slide img{
    width: 100%;
    height:4rem ;
}
.head_blank{
    height:0.8rem;
    width:100%;
}
.activity_list{
    margin-top: 0.6rem;
    width: 100%;
}
.activity_item{
    float: left;
    margin:0 0.375rem 0 0.375rem;
    width:3rem;
}
.activity_img{
    width:100%;
    height:2.82rem;
}
.activity_img img{
    width:100%;
    height:100%;
}
.activity_foot{
    height:1.2rem;
    text-align: center;
    padding-top: 0.2rem;
    box-sizing: border-box;
    font-size: 0.28rem;
    font-weight: bold;
    color: #37474f;
}
/*
预约弹窗
 */
.popup {
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.4);
    color: #3d4d55;
    z-index: 1000;
    position: fixed;
    top:0;
}
.popup .wd{
    width: 6.9rem;
    height: 7.2rem;
    margin: 0 auto;
    top:3rem;
    border-radius: 0.2rem;
    position: relative;
    background-color: #FFFFFF;
}
.wd-title{
    margin: 0 auto;
    width:100%;
    text-align: center;
    font-size: 0.36rem;
    padding-top: 1rem;
}
.wd-title3{
    margin: 0 auto;
    width:6rem;
    text-align: left;
    font-size: 0.36rem;
    padding-top: 1rem;
}
.wd .cease{
    font-size: 1.3rem;
    position: absolute;
    right: 0.4rem;
    top:0;
    font-weight: 100;
    cursor:pointer;
    cursor:hand;
}
.open_time{
    width: 6rem;
    white-space: pre-line;
    margin: 0 auto;
    margin-top: 0.2rem;
}
.time_content{
    margin: 0 auto;
    width: 6rem;
}
.time_title{
    width: 6rem;
    margin: 0 auto;
    text-align: left;
    font-weight: bold;
}
.wd-title2{
    width:5.9rem;
    margin: 0 auto;
    margin-top: 0.4rem;
    text-align: center;
    font-size: 0.24rem;
    font-weight: 500;
}
.wd-title4{
    width:5.9rem;
    margin: 0 auto;
    margin-top: 0.4rem;
    text-align: left;
    font-size: 0.24rem;
    font-weight: 500;
}
.input-text input{
    width:5.9rem!important;
    margin: 0 auto;
    display: block;
    border-radius: 0.16rem;
    background-color: #ffffff;
    border: solid 0.02rem #3d4d55;
    height:0.92rem !important;
    margin-top: 0.4rem;
    text-align: center;
    font-size: 0.32rem;
    padding: 0;
}
.input-text input:-ms-input-placeholder{
    text-align: center;
}
.input-text input:-moz-placeholder{
    text-align: center;
}
.input-text input::-webkit-input-placeholder{
    text-align: center;
}
.course-level{
    height:0.92rem;
    border-radius: 0.16rem;
    border: solid 0.02rem #3d4d55;
    width:5.9rem;
    margin: 0 auto;
    margin-top:0.4rem ;
    position: relative;
}
.course-level select{
    width:95%;
    height:95%;
    display: block;
    margin: 0 auto;
    position: relative;
    top:0;
    color: #3d4d55;
    background-color: rgba(0,0,0,0);
    text-align-last: center;
    font-size: 0.32rem;
}
.course-level select option{
    padding-left: 100px;
}
.course-level i{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
}
.input-text input[type='submit']{
    border-radius: 0.16rem;
    background-color: #fc384c;
    font-size: 0.4rem;
    color: #FFFFFF;
    border: 0;
}
.head-position{
    position: fixed;
    width:100%;
    top: 0.9rem;
    z-index: 20;
    display: none;
    border-radius: 0.08rem;
}
.position_list{

    background-color: #f2f2f2;
    margin: 0 auto;
    width: 7.18rem;
    min-height: 1.48rem;
    position: relative;
    top:-0.15rem;
    border-radius: 0.08rem;
    color: #37474f;
}
.position_item{
    float: left;
    margin: 0.2rem 0.35rem 0.2rem 0.35rem;
}
.position_triangle{
    width:0.2rem;
    height:0.2rem;
    transform: rotate(45deg);
    background-color: #f2f2f2;
    position: relative;
    left: 6.5rem;
}
.about_content{
    width:7rem;
    margin: 0 auto;
    font-size: .32rem;
    text-indent:0.64rem;
    color: #37474f;
    margin-top: 0.4rem;
}
#video{
    display: none;
    width: 100%;
    position: fixed;
    top:3rem;
}
.about-item{
    width:100%;
    height:6rem;
    position: relative;
}
.about-item .title{
    position: absolute;
    top: 2.2rem;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 0.32rem;
    font-weight: bold;
}
.about-item .img{
    position: absolute;
    top: 0.8rem;
    left: 3.15rem;
    width: 1.2rem;
    height: 1.2rem;
}
.about-item .img img{
    width: 100%;
    height:100%;
}
.about-item .content{
    position: absolute;
    font-size:0.24rem;
    width: 100%;
    margin: 0 auto;
    top:3rem;

}
.about-item .content div{
    margin: 0 auto;
    width:4rem;
}
.bg-1{
    background-image: url(../imgs/banner7.svg);
    background-position: 0 0;
    background-size: auto 100%;
    color: #ffffff;
}
.bg-2{
    background-image: url(../imgs/banner7.svg);
    background-position: 7.5rem 0;
    background-size: auto 100%;
    color: #ffffff;
}
.about_item .img{
    margin: 0 auto;
    width:1.72rem;
}
.about_item .img img{
    width:100%;
    height:100%;
    margin-top: 0.3rem;
}
.about_item .title{
    text-align: center;
}